body {
    background: radial-gradient(circle, #ffffff 30%, #bbd6f4 70%);
    margin: 0;
    height: 100vh; /* Make the body height equal to the viewport height */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-end; /* Aligns items towards the bottom */
}

.recipeBox {
    position: relative;  /* Make this the positioning context for the lid */
    width: 550px;       /* Match the width of the box */
    padding-bottom: 150px;
}
.recipeBox:hover .lid {
    top: -150px;  /* Moves the lid up when hovering */
    transform: rotateZ(10deg);
    left: 10px;
}
.lid {
    position: relative;
    width: 555px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    margin: 0 auto;
    box-shadow: 1px 2px 3px rgba(136, 138, 138, 0.75);
    background-image: linear-gradient(rgba(154, 180, 199, 0.05), rgba(112, 148, 173, 0.05)), 
                      url('/src/image/lidimage3.jpeg'); /* Overlay + Image */
    background-size: cover; /* Ensures the image covers the box */
    padding: 0 2 px; /* so it goes a little bit bigger than the box */
    z-index: 6; /* Ensures the lid goes on top of the box not under it */
}

.box {
    position: relative;
    width: 550px; /* Set the desired width */
    height: 405px; /* Set the desired height */
    margin: 0 auto;
    background-image: url('/src/image/recipebox3.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the box */
    background-position: center; /* Centers the image */
    z-index: 5;
    box-shadow: #586368;

}
.boxDivider {
    display: grid;
    position: absolute; /* Ensure overlapping works */
    width: 97%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 4px;
    grid-template-columns: repeat(12, 1fr);

}
.mainsDivider {
    position:relative;
    background-image: url(/src/image/mainsimage.png);
    background-size: cover;
    width: 100%;
    height: 400px; /* Adjust as needed */
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 30px; /* Moves it 20px lower */
    z-index: 4; /* i tried 0 but it didnt send it all the way back */
    filter:drop-shadow(0px 0px 2px rgb(127, 128, 129) )

}
.mainsDivider:hover {
    top: -50px;  /* Moves the divider up when hovering */
}

.sidesDivider {
    position:relative;
    background-image: url(/src/image/sidesimage.png);
    background-size: cover;
    width: 100%;
    height: 100px; /* Adjust as needed */
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 30px; /* Moves it 20px lower */
    z-index: 3;
    filter:drop-shadow(0px 0px 2px rgb(127, 128, 129) )
}
.sidesDivider:hover {
    top: -50px;  /* Moves the divider up when hovering */
}

.postDivider {
    position:relative;
    background-image: url(/src/image/postimage.png);
    background-size: cover;
    width: 100%;
    height: 100px; /* Adjust as needed */
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 30px; /* Moves it 20px lower */
    z-index: 2;
    filter:drop-shadow(0px 0px 2px rgb(127, 128, 129) )
}
.postDivider:hover {
    top: -50px;  /* Moves the lid up when hovering */
}
.bakesDivider {
    position:relative;
    background-image: url(/src/image/bakesimage.png);
    background-size: cover;
    width: 100%;
    height: 100px; /* Adjust as needed */
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 30px; /* Moves it 20px lower */
    z-index: 1;
    filter:drop-shadow(0px 0px 2px rgb(127, 128, 129) )
} 
.bakesDivider:hover {
    top: -50px;  /* Moves the lid up when hovering */
}

