/* ========== GLOBAL VARIABLES ========== */
/* defining global variables with --custom-properties */
:root {
  --search-height: 100px;
  --dark-color: #a1b29e; /* Defining my desired color to use later */
  --header-height: 100px;
  --border-color: rgb(145, 104, 130);
}
/* ========== GLOBAL STYLES ========== */
/* CSS reset that ensures consistency across different browsers */
/* Applies the styles to all elements on the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-style: italic;
  padding: 20px 0px;
  text-align: center;
  color: var(--dark-color);
  letter-spacing: 0.6px;
  font-weight: 400;
  font-size: 50px;
}
.home-page {
  background-image: url(image/grain.png), url(image/index-page_background.png);
  background-color: rgb(252 250 230);
  background-size: cover; /* Covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  height: 100vh; /* When you specify height: 100vh, the body (and thus the gradient)
     extends to fill the entire viewport height, giving you the full circular  */
  margin: 2px 140px;
  transition: margin 0.6s ease-in-out; /* Smooth transition for margin */
}
.mains-page {
  background: rgb(224, 219, 199);
  background-image: url(image/grain.png);
  margin: 30px 140px;
  height: 100vh;
  transition: margin 0.6s ease-in-out; /* Smooth transition for margin */
}
.bakes-page {
  background: rgb(252, 251, 238);
  background-image: url(image/grain.png);
  margin: 30px 140px;
  height: 100vh;
  transition: margin 0.6s ease-in-out; /* Smooth transition for margin */
}
@media screen and (max-width: 950px) {
  .mains-page,
  .bakes-page {
    margin: clamp(15px, 3vw, 20px); /* Makes margin resize gradually */
    transition: margin 0.4s ease-in-out;
  }
}
/* ========== NAVIGATION STYLES ========== */
.index-page__header {
  padding-top: 10vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This helps vertically center all elements */
  margin: 20px;
  max-width: 1200px; /* Optional: adds a max-width for larger screens */
  margin: 0 auto; /* Centers the nav if max-width is hit */
  padding: 0 20px; /* Replaced margin with padding for better edge behavior */
}
.nav__logo {
  height: 90px; /* Adjust this value to your needs */
  display: flex;
  align-items: flex-end;
}
.nav__logo img {
  max-height: 100%;
  filter: drop-shadow(0px 0px 2px rgb(184, 193, 202));
}
@media screen and (max-width: 700px) {
  .nav__logo img {
    max-height: 80%;
    padding-bottom: 10px;
  }
}
.nav__menu ul {
  position: relative; /*new*/
  right: 60px; /*new*/
  margin: 10px; /*new*/
  /* margin: 10px 60px; */
  padding-top: 15px;
  font-size: 22px;
  /* font-family: "Snell Roundhand", cursive; */
  font-style: italic;
  display: flex;
}
.nav__menu-item {
  list-style: none; /* to remove bulletpoints*/
}
/*  targeting the link element */
.nav__menu-link {
  text-decoration: none; /* to remove the underlining*/
  color: #ffffff;
  padding: 1rem;
  display: block; /* takes up all the width given to it*/
}

.nav__menu-link:hover {
  background-color: rgba(135, 139, 124, 0.2);
}
.nav__hamburger {
  width: 1.875rem;
  height: 1.313rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.nav__hamburger-line {
  height: 0.188rem;
  width: 100%;
  background-color: white;
  border-radius: 0.7;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 820px) {
  .nav__hamburger {
    display: flex;
  }
  .nav__menu {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(135, 139, 124, 0.2);
    top: -16rem; /* this makes the links be up above the page so when 
    button is clicked they come down and are visible again */
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__menu ul {
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 0.6rem; /* top, right&left, bottom */
  }
  .nav__menu-link {
    text-align: end;
    padding-right: 150px;
  }
  .nav__menu {
    z-index: -1; /* so the index goes under the logo and hamburger */
  }
  .nav__menu.active {
    top: 0;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* ========== MAIN SECTION STYLES ========== */
.main-section {
  padding-top: 8vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.main-section__phrase {
  font-size: 30px;
  color: #ffffff;
  /* font-family: "Snell Roundhand", cursive; */
  font-weight: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /*    additionally, given the lid taking up space, u can add some padding top */
}

/* ========== RECIPE BOX STYLES ========== */
.recipe-box {
  min-height: 90%;
  justify-content: center;
  position: relative; /* Make this the positioning context for the lid */
}

.recipe-box__lid {
  position: relative;
  width: 550px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  box-shadow: 0px 2px 8px rgba(62, 62, 62, 0.5);
  background-image: url(image/grain.png);
  background-size: cover; /* Ensures the image covers the box */
  overflow: hidden;
  padding: 0 2 px; /* so it goes a little bit bigger than the box */
  z-index: 7; /* Ensures the lid goes on top of the box not under it */
}
.recipe-box:hover .recipe-box__lid {
  top: -120px; /* Moves the lid up when hovering */
  transform: rotateZ(7deg);
  left: 10px;
}
.recipe-box__lid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.recipe-box__lid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(154, 180, 199, 0.05), rgba(112, 148, 173, 0.05));
  pointer-events: none; /* Ensures it doesn't block clicks */
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999bb8;
  padding: 10px 20px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.recipe-box__container {
  position: relative;
  width: 550px;
  height: 420px;
  background-image: url(image/grain.png), url("/src/image/recipebox2.png");
  background-size: cover; /* Ensures the image covers the box */
  background-position: center;
  z-index: 6;
  box-shadow: 4px 4px 8px rgba(125, 143, 146, 0.5);
}
.recipe-box__divider {
  display: flex;
  position: absolute; /* Ensure overlapping works */
  width: 96%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 4px;
  grid-template-columns: repeat(12, 1fr);
}

/* ========== DIVIDER STYLES ========== */
.recipe-box__divider-item--bakes {
  position: absolute;
  margin-top: 30px; /* Moves it 20px lower */
  z-index: 4;
}
.recipe-box__divider-item--bakes img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 2px rgb(174, 175, 176));
}
.recipe-box__divider-item--mains {
  position: absolute;
  grid-row: 1;
  margin-top: 30px;
  z-index: 3; /* i tried 0 but it didnt send it all the way back */
}
.recipe-box__divider-item--mains img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 2px rgb(174, 175, 176));
}

.recipe-box__divider-item--sides {
  position: absolute;
  margin-top: 30px;
  z-index: 2;
}
.recipe-box__divider-item--sides img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 2px rgb(174, 175, 176));
}

.recipe-box__divider-item--vegan {
  position: absolute;
  margin-top: 30px;
  z-index: 1;
}
.recipe-box__divider-item--vegan img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 2px rgb(174, 175, 176));
}
area {
  cursor: pointer;
}
.recipe-box__divider-link {
  display: block;
  text-decoration: none;
}
.recipe-box__divider map,
.recipe-box__divider area {
  position: relative;
  z-index: 5;
}
/* ========== BAKES PAGE STYLES ========== */
.bakes-page__header {
  height: var(--header-height);
  background: var(--dark-color);
  border-radius: 7px;
}

.bakes-page_title {
  filter: drop-shadow(0px 0px 2px rgb(255, 230, 252));
}
.hero {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  transition: height 0.4s ease-in-out; /* Smooth height transition */
}
@media screen and (max-width: 700px) {
  .hero {
    height: calc(70vh - 180px);
  }
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
  transition: border-radius 0.4s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out;
}

.container {
  text-align: center;
  height: calc(100vh - var(--header-height));
}
/* ========== SEARCH FEATURE STYLES ========== */
.search {
  display: flex;
  justify-content: center;
  margin: 1.2rem 0;
}
.search input[type="text"] {
  padding: 8px 25px;
  line-height: 1.5;
  font-size: 1rem;
  border: none;
  border-left: 1px solid var(--dark-color);
  border-bottom: 1px solid transparent;
  outline: none;
  transition: all 200ms ease-in-out;
  width: 40%;
  color: #000000;
  background-color: rgb(251, 248, 236);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
/* input[type="text"] selects <input> elements of type "text" inside the .search element */
/* :focus applies styles when the user clicks on or tabs into the text input field). */
.search input[type="text"]:focus {
  border-left-color: transparent;
  border-bottom-color: var(--dark-color);
  width: 42%;
}
@media screen and (max-width: 700px) {
  .search input[type="text"] {
    width: 60%;
  }
  .search input[type="text"]:focus {
    width: 62%;
  }
}
.btn {
  background-color: rgb(250, 245, 249);
  padding: 8px 10px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  user-select: none;
  font-size: 1rem;
  border: 1px solid var(--dark-color);
  cursor: pointer;
}
.btn:hover {
  background: var(--dark-color);
  border-color: #3d453c;
}
#recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Always 3 recipes per row */
  gap: 20px; /* Adjust spacing between recipes */
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.recipe {
  height: 300px;
  width: 100%;
  max-width: 300px; /* Prevents overly large items */
  padding: 4px;
  margin: 0 auto; /* Centers in grid cells */
  font-style: italic;
  color: rgb(21, 22, 22);
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /*If transition 
  were in .recipe:hover, it would only apply when hovering starts, 
  but it wouldn't smoothly return to the original size when the mouse leaves.*/
}
.recipe:hover {
  box-shadow: 0px 0px 15px 2px rgba(178, 124, 122, 0.3);
  transform: scale(1.05); /* Increases size by 5% */
}
.recipe-image {
  width: 100%;
  height: 16rem;
}
@media screen and (max-width: 700px) {
  #recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Always 3 recipes per row */
  }
  .recipe {
    height: 15rem;
    width: 100%;
  }
  .recipe-image {
    height: 11rem; /* Adjusts for a better aspect ratio */
    width: 100%;
  }
}
.recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.recipe-title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 1rem;
}

/* ========== MAINS PAGE STYLES ========== */
.mains-page_title {
  color: #696935;
  filter: drop-shadow(0px 0px 2px rgb(255, 230, 252));
}
.mains-page__header {
  height: var(--header-height);
  background: rgb(192 188 142);
  background-image: url(image/grain.png);
  border-radius: 7px;
}
